build/
.kdev4/
*.kdev4
compile_commands.json
.cache
examples
neovide_backtraces.log
/result
/.ccls-cache
.claude
perf*
output
out/
html/*.js
html/*.css
html/*.wasm
html/*.ts

/scripts/data/__pycache__
